
@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  margin: 0;
  font-family: 'Quicksand', cursive,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--colorPalet-background);
}

html {

  overflow-x: hidden;
}

* {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  cursor: var(--cursor-type);
}

:root {
      --loader1-color: #D1FFF6;
      --loader2-color: #FFB6F1;

      --colorPalet-background: rgb(236 236 235 / 100%);
      --colorPalet-backgroundAlt: #fff;
      --colorPalet-text: #000;
      --colorPalet-textAlt: #fff;
      --colorPalet-header: #fff;
      --colorPalet-container: #fff;
      --colorPalet-containerAlt: rgb(38 57 77 / 50%);
      --colorPalet-mainLight : rgb(105, 182, 213);

      --cursor-type: default;
    }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content {
  background-color: var(--colorPalet-container);
}

.modal {
  background-color: var(--colorPalet-containerAlt);
}

.colorPaletteBackground{
  transition: background-color 2s ease;
  top: 0;
  left: 0;
  background-color: rgb(100 100 100 / 60%);
}

.colorPaletteBackground:hover {
  cursor: pointer;
  background-color: rgb(100 100 100 / 30%);
}

.dropdown-menu {
  background-color: var(--colorPalet-container) !important;
}

.bg-light {
  background-color: var(--colorPalet-header) !important;
}

.bg-white {
  background-color: var(--colorPalet-container) !important;
}

.navbar-light, .navbar-brand, .navbar-nav, .nav-link, p, h1, h2, h3, h4, h5, body {
  color: var(--colorPalet-text) !important;
}

.containerShadow {
  box-shadow: var(--colorPalet-containerAlt) 0px 20px 30px -10px;
}

.dropdown-menu {
  min-width: 15rem;
}

.nav-link-home:hover {
    font-weight: bold
}

  .notificationEntry {
    border-radius: 5px;

  }

  .notificationEntry:hover {
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.2));
  }


  .notificationEntryNew {
    background: var(--colorPalet-background);
    cursor: pointer;
  }

  .notificationEntryNew::before{
       content: '';
       display: flex;
       width: 15px;
       height: 15px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: var(--colorPalet-mainLight);
       margin: 5px;
       float: right;
    }

  .notificationEntrySeen {
    background: var(--colorPalet-container);
    cursor:pointer
  }
    .icon-button__badge {
      position: absolute;
      top: -2.5px;
      right: -2.5px;
      width: 15px;
      height: 15px;
      background: var(--colorPalet-mainLight);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .popupBlockNotification {
      background-color: #fff;
    }

    #notificationCenterDiv {
      right: 0;
      top: 0.5rem;
      z-index: 2000;
      width: 35%;
    }

    #colorPaletteModal {
      right: 0;
      top: 0.5rem;
      z-index: 2000;
      width: 35%;
      transition: visiblity 1s ease;
    }

    .colorPaletteSelection {

      transition: box-shadow 1s ease;
      transition: font-size 1s ease;
    }

    .colorPaletteSelection:hover {

      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      cursor: pointer;
      font-size: 2rem;
      transition: box-shadow 1s ease;
      transition: font-size 1s ease;
    }

    .popupBlockNotification {
      border-radius: 8px;
      filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.2));
      background: var(--colorPalet-container);
    }



        .loader .advert-title-placeholder,
        .loader-content {
          animation: flash 2s infinite;
        }

        .loader .advert-content-placeholder {
          animation: flash 2s infinite;
        }

        @keyframes flash {
          0% {
            color: var(--loader1-color);
            background: var(--loader1-color);
          }

          50% {
            color: var(--loader2-color);
            background: var(--loader2-color);
          }

          100% {
            color: var(--loader1-color);
            background: var(--loader1-color);
          }
        }

        .advert-content {
          background: var(--colorPalet-containerAlt);
        }
        h2 {
          margin-bottom: 2rem;
        }

        .glass {
        	 height: 100%;
        	 width: 100%;
        	 background-image: url(./assets/background2.webp);
        	 background-size: cover;
        	 background-position: center;
        	 clip-path: inset(5rem);
        	 filter: blur(10px);
        	 display: flex;
        	 justify-content: center;
        	 align-items: center;
        }
         .drop-shadow {
        	 height: calc(100vh - 3.5rem);
        	 width: 100%;
        	 filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.30));
        	 display: flex;
        	 justify-content: center;
        	 align-items: center;
           position: absolute;
        }
         .drop-shadow > span {
        	 position: absolute;
        	 z-index: 5;
        	 color: white;
        	 font-size: 5vw;
        	 letter-spacing: 0.75em;
        	 padding-left: 0.375em;
           width: 50vw;
        }


        .mouse {
        	 width: var(--size);
        	 height: var(--size);
        	 border-radius: 50%;
        	 background: white;
        	 position: fixed;
        	 z-index: 6000;
        	 pointer-events: none;
        	 mix-blend-mode: exclusion;
        }
         .mouse-follow {
        	 width: var(--size);
        	 height: var(--size);
        	 position: fixed;
        	 top: 0;
        	 left: 0;
        	 background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
        	 background-size: cover;
        	 mix-blend-mode: exclusion;
        	 pointer-events: none;
        	 opacity: .5;
        	 z-index: 6000;
        }



        .typing-intro {
          animation: typing 2s steps(19), blink .5s step-end infinite alternate;
        }

        @keyframes typing {
          from {
            width: 0
          }
        }

        @keyframes blink {
          50% {
            border-color: transparent
          }
        }


  .popupBlockMain {
    background: #4d4761;
    color: #E7FFF6;

  }











  section {

    animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }

  .tilt {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }

  section span {
    transition: font-weight 0.4s ease-in;
    animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  }

  section span:nth-child(1) {
    animation-delay: 1s;
  }
  section span:nth-child(2) {
    animation-delay: 2s;
  }
  section span:nth-child(3) {
    animation-delay: 3s;
  }
  section span:nth-child(4) {
    animation-delay: 4s;
  }
  section span:nth-child(5) {
    animation-delay: 5s;
  }
  section span:nth-child(6) {
    animation-delay: 6s;
  }
  section span:nth-child(7) {
    animation-delay: 7s;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 5vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes floating-secondary {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 1vh);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes tilting {
    0% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(1deg);
    }
  }



@layer components {
  .btn-primary {
    @apply ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium;
  }
}

.btn-primary {
  background-color: var(--colorPalet-header) !important;
  color: var(--colorPalet-text) !important;
  border-color: var(--colorPalet-containerAlt) !important;
  transition: background-color 1s ease;
}

.btn-primary:hover {
  background-color: var(--colorPalet-text) !important;
  color: var(--colorPalet-header) !important;
  border-color: var(--colorPalet-text) !important;
}

.notificationButton {
  background: var(--colorPalet-background);
}
.notificationButton:hover {
  cursor: pointer !important;
  background: var(--colorPalet-container);
}
.notificationButton:active {
  background: var(--colorPalet-container);
}

.colorPaletteButton {
  background: var(--colorPalet-background);
}

.colorPaletteButton:hover {
  cursor: pointer;
  background: var(--colorPalet-container);
}

.colorPaletteButton:active {
  background: var(--colorPalet-container);
}

.popupBlockColor {
  background: var(--colorPalet-container);
}

#body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.activeSectionTitle {
  color: white;
  border-bottom: 2px solid white;
}
